.error-404 {
  @include tablet-md {
    margin-top: 93px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 63px auto 193px;

    @include tablet-md {
      gap: 20px;
      margin: 0 auto 0;
    }
  }

  &__title {
    font-family: var(--second-family);
    font-size: 320px;
    font-weight: 400;
    line-height: 100%;
    margin: 0;

    @include tablet-md {
      font-size: 250px;
    }

    @include mobile {
      font-size: 156px;
    }

    @include mobile-xs {
      font-size: 130px;
    }
  }

  &__decr {
    position: absolute;
    top: 71%;
    font-size: 18px;
    line-height: 130%;
    margin: 5px 0 0 0;
    max-width: 360px;
    text-align: center;

    @include desktop {
      font-size: 17px;
    }

    @include tablet-md {
      font-size: 15px;
      margin-bottom: 0;
    }

    @include mobile {
      max-width: 100%;
    }

    @include mobile-xs {
      font-size: 14px;
    }
  }

  &__link {
    background-color: var(--accent-pink);
    border: var(--accent-pink);

    @include tablet-md {
      margin-bottom: 33px;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__img {
    position: absolute;
    left: 59%;
    bottom: 16%;
    width: clamp(200px, 40vw, 423px); // адаптивная ширина
    height: auto;
    pointer-events: none; // чтобы картинка не мешала кликам по кнопке
    z-index: 1;

    img {
      display: block;
    }


    @include desktop {
      left: 59%;
    }

    @include tablet-md {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 366px;
      width: 100%;
      left: 0;
      bottom: 0;

      img {
        object-fit: cover;
      }
    }

    @include mobile-xs {
      width: 90%;
    }
  }
}
