.promo {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;

  &__bgimg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    font-size: 0;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.56);
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    @include tablet {
      font-size: 55px;
    }

    @include tablet-md {
      font-size: 50px;
    }

    @include mobile {
      font-size: 34px;
    }

    @media (max-width: 375px) {
      font-size: 28px;
    }

    @media (max-width: 320px) {
      font-size: 25px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 26px 20px;

    @include mobile {
      gap: 20px;
    }
  }
  &__content {
    grid-column: 8 span;
    margin-bottom: 150px;

    @include tablet-lg {
      grid-column: 12 span;
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  // &__title {}

  &__descr {
    margin: 0;
    margin-bottom: auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);

    @include tablet-md {
      font-size: 22px;
    }

    @include mobile {
      font-size: 18px;
    }

     @media (max-width: 320px) {
      font-size: 16px;
    }
  }
  
  &__form {
    position: relative;
    grid-column: 4 span;
  }
  &__usp {
    grid-column: 6 span;

    @include tablet-md {
      grid-column: 12 span;
    }
  }

  &__picture {
    position: absolute;
    bottom: -36%;
    left: -44%;

    @media (max-width: 1377px) {
      bottom: -50%;
      left: -50%;
    }

    @media (max-width: 1264px) {
      bottom: -64%;
      left: -56%;
    }

    @include tablet-lg {
      bottom: 0%;
      left: 50%;
      min-width: 350px;
      img {
        transform: scaleX(-1);
      }

      @include tablet-md {
        left: 34%;
        min-width: 370px;
      }

      @include mobile {
        min-width: 231px;
        left: 16%;
      }

      @media (max-width: 375px) {
        min-width: 231px;
        left: 32%;
      }

      @media (max-width: 320px) {
        min-width: 200px;
        left: 15%;
      }
    }
  }

  &__benefits {
    @include list-reset;
    grid-column: 12 span;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__benefits-item {
    width: calc(100% / 4 - 20px * 3 / 4);

    @include desktop {
      width: calc(100% / 2 - 20px * 1 / 2);
    }
    @include mobile {
      width: 100%;
    }
  }
}

.promo-form {
  border: 1px solid var(--white);
  border-radius: 20px;
  padding: 50px;
  // width: 440px;
  min-height: 450px;
  box-shadow: 0 0 22px 0 var(--accent-blue);
  background-color: var(--black);

  @include desktop {
    padding: 30px;
  }

  @include tablet-lg {
    padding: 20px;
    grid-column: 12 span;
    grid-row: 3;
  }

  // .promo-form__content
  // &__content {}

  // .promo-form__img
  // &__img {}
}
.form {
  // .form__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet-lg {
      margin-bottom: 320px;
    }

    @include mobile {
      margin-bottom: 372px;
    }

    @media (max-width: 450px) {
      margin-bottom: 310px;
    }

    @media (max-width: 375px) {
      margin-bottom: 156px;
    }

    // Только для страницы услуг
    body.page-template-page-services-php & {
      @include tablet-lg {
        margin-bottom: 0;
      }
      @include mobile {
        margin-bottom: 0;
      }
      @media (max-width: 450px) {
        margin-bottom: 0;
      }
      @media (max-width: 375px) {
        margin-bottom: 0;
      }
    }
  }

  // .form__field
  // &__field {}

  // .form__control
  &__control {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &-argee label {
    @include tablet-lg {
      padding-right: 275px;
    }

    @media (max-width: 600px) {
      padding-right: 245px;
    }

    @include mobile {
      padding-right: 0px;
    }

    @media (max-width: 375px) {
      padding-right: 103px;
    }

    @media (max-width: 375px) {
      span.wpcf7-list-item-label {
        font-size: 10px;
        padding-right: 11px;
      }
    }
  }

  // .form__btn
  // &__btn {}

  // .form__status
  // &__status {}
}
.wpcf7-response-output {
  display: none;
}

body.page-template-page-services-php .form-argee label {
  @include tablet-lg {
    padding-right: 0;
  }
}
