.social-follow {
  &__content {
    display: flex;
    flex-direction: row;
    /* gap: 55px; */

    @include tablet-md {
      flex-direction: column;
      // gap: 20px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__title {
    --title-mb: 20px;
    margin-top: 40px;

    @include tablet {
      margin-top: 0px;
    }
  }

  &__descr {
    margin: 0 0 30px 0;
    padding-right: 61px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);

    @include desktop {
      font-size: 22px;
    }

    @include mobile {
      font-size: 18px;
      line-height: 26px;
      padding-right: 0;
    }
  }

  &__wrap {
    position: relative;
  }

  &__image {
    flex-shrink: 0;
    width: auto;

    @include desktop {
      min-width: 400px;
    }

    @include mobile {
      flex-shrink: 1;
      width: 100%;
    }
  }

  &__picture {
    width: 619px;
    height: 619px;
    flex-shrink: 0;
    opacity: 1;
    filter: drop-shadow(4px 15px 25px var(--accent-blue));

    @include mobile {
      width: 100%;
      height: auto;
    }
  }

  &__var {
    position: absolute;
    top: 0;
    right: 10%;

    @include desktop {
      top: auto;
      bottom: -50px;
      right: -50%;
    }

    @include tablet {
      bottom: -80px;
      right: -50%;
    }

    @include tablet-md {
      display: none; // скрываем на мобилке
    }
  }

  &__var--mobile {
    display: none; // скрыт на десктопе

    @include tablet-md {
      display: block;
    }

    @include mobile-xs {
      margin-top: unset;
    }
  }

  // Иконка колокольчика
  &__bell {
    position: absolute;
    bottom: 8%;
    right: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    aspect-ratio: 1/1;
    // height: 182px;
    border-radius: 100%;
    background-color: var(--accent-blue);
    border: 2.4px solid var(--accent-pink);
    box-sizing: border-box;
    object-fit: cover;
    padding: 19px;

    @include mobile {
      width: 130px;
      // height: 130px;
      padding: 5px;
    }

    @include mobile-xs {
      width: 107px;
      // height: 107px;
      right: 1%;
    }

    & img {
      width: 182px;
      aspect-ratio: 1/1;

      @include mobile {
        width: 130px;
      }

      @include mobile-xs {
        width: 107px;
      }

      &.bell-ring {
        animation: ringing 1.8s ease-in-out infinite;
        transform-origin: top center;
      }
    }
  }
  // &__left-icon {
  //   position: absolute;
  //   bottom: 8%;
  //   right: 13%;
  //   width: 182px;
  //   height: 182px;
  //   border-radius: 100%;
  //   background-color: var(--accent-blue);
  //   border: 2.4px solid var(--accent-pink);
  //   box-sizing: border-box;
  //   object-fit: cover;
  //   padding: 19px;

  //   @include mobile {
  //     width: 130px;
  //     height: 130px;
  //     padding: 5px;
  //   }

  //   @include mobile-xs {
  //     width: 107px;
  //     height: 107px;
  //     right: 1%;
  //   }

  //   &.bell-ring {
  //     animation: ringing 1.8s ease-in-out infinite;
  //     transform-origin: top center;
  //   }
  // }

  &__right-inner {
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 721px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--white);
    background: rgba(22, 22, 22, 0.6);
    z-index: 2;

    @include desktop {
      bottom: 20%;
    }

    @media (max-width: 1096px) {
      position: relative;
      bottom: 17%;
    }

    @include tablet {
      margin-top: 0;
      margin-bottom: 19px;
    }

    @media (max-width: 850px) {
      position: relative;
      order: 2;
      margin-bottom: 20px;
      bottom: auto;
      left: auto;
      right: auto;
      top: auto;
      transform: none;
      width: 100%;
      max-width: 100%;
      display: flex;
    }

    @include mobile {
      display: none;
      margin-bottom: 0px;
    }

    @media (max-width: 375px) {
      margin-bottom: 0px;
    }
  }

  &__right {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 780px;
    width: clamp(500px, 52vw, 780px);

    @include tablet {
      flex-shrink: 1;
      width: 100%;
      max-width: 100%;
    }

    @media (max-width: 850px) {
      display: flex;
      flex-direction: column;
      height: auto;
      min-height: auto;
      width: 100%;
      gap: 40px;
    }

    @include tablet-md {
      gap: 0;
    }

    @include mobile {
      display: none;
    }
  }

  &__right-image {
    border-radius: 40px;
    width: 780px;
    max-width: 100%;
    height: auto;
    object-fit: cover;

    @include tablet-md {
      display: none; // скрываем большое фото
    }
  }

  &__right-inner--mobile {
    display: none; // скрыт на десктопе

    @include mobile {
      display: flex;
      width: 100%;
      position: static;
      left: auto;
      right: auto;
      bottom: 45px;
      transform: none;
      // width: 100%;
      align-items: center;
      gap: 10px;
      position: relative;
      z-index: 10;
      backdrop-filter: blur(4px);
      padding: 16px 15px 15px 15px;
      border-radius: 20px;
      border: 1px solid var(--white);
    }

    @media (max-width: 400px) {
      bottom: 45px;
    }

    @include mobile-xs {
      bottom: 41px;
    }
  }

  &__right-icon {
    flex-shrink: 0;
    margin: 0 5px;

    @include tablet-lg {
      width: 59px;
      height: 59px;
    }

    @include tablet-md {
      width: auto;
      height: auto;
    }

    @include mobile {
      margin: 0;
      width: 51px;
    }
  }

  &__right-text {
    margin: 0;
    font-weight: 400;
    font-size: clamp(10px, 1.6vw, 24px);
    padding: clamp(12px, 2vw, 26px) 0;
    padding-right: 5px;
    color: var(--white);

    @include tablet-md {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
      padding: 0;
    }

    @include mobile-xs {
      font-size: 12px;
    }
  }

  & .messanges {
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      gap: 40px;
    }
  }

  & .messanges__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    box-shadow: 0 0 20px 0 var(--accent-pink);
    transition: all var(--transition-300);
    background-color: transparent;
    cursor: pointer;

    @media (max-width: 400px) {
      width: 72px;
      height: 72px;
    }
  }

  & .messanges__icon {
    filter: drop-shadow(0 0 8px var(--accent-pink));
    transition: filter var(--transition-300);
  }

  /* Ховер — усиливаем свечение */
  & .messanges__link:hover .messanges__icon {
    filter: drop-shadow(0 0 20px var(--accent-pink));
  }

  // Анимация колокольчика
  @keyframes ringing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(6deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(2deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
