.why-benefits {
  &__title {
    max-width: 1015px;
    margin-right: auto;
    margin-left: auto;
  }
  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include mobile {
      gap: 8px;
    }
  }

  &__item {
    width: calc(100% / 4 - 20px * 3 / 4);

    @include desktop {
      width: calc(100% / 2 - 20px * 1 / 2);
    }
    @include mobile {
      width: 100%;
    }
  }

  .page-template-page-services &__item {
    width: calc(100% / 3 - 20px * 2 / 3);
  }
}
