.breadcrumbs {
  @include list-reset;

  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 50px;

  @include mobile {
    font-size: 10px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      content: "/";
      margin: 0 10px;
    }
  }

  &__link {
    color: var(--white-60);
  }

  &__item--current {
    color: var(--white);
  }
}

// ========== ОТСТУП ДЛЯ ХЛЕБНЫХ КРОШЕК НА СТРАНИЦАХ ==========

.page-template-page-about,
.page-template-page-reviews,
.page-template-page-contacts,
.page-template-page-trade-in,
.page-template-page-customs,
.page-template-page-auto-credit,
.page-template-page-articles-list {
  .breadcrumbs {
    padding-top: 50px;
  }
}

// Для отдельной записи (статьи)
.single-post .breadcrumbs,
.single .breadcrumbs {
  padding-top: 50px;
}

// ========== ДЛЯ МАГАЗИНА ТОВАРОВ ==========
.post-type-archive-product .breadcrumbs {
  padding-top: 50px;
}
