.form-argee {
  --argee-ff: var(--font-family);
  --argee-fw: 400;
  --argee-fz: 13px;
  --argee-lh: 1;
  --argee-color: var(--white);
  --argee-pl: calc(var(--argee-size) + 7px);
  --argee-size: 17px;
  --argee-border-radius: 5px;
  --argee-border-color: var(--accent-blue);
  --argee-hover-color: var(--accent-blue);
  --argee-checked-color: var(--accent-blue);

  & label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    & span.wpcf7-list-item-label {
      position: relative;
      padding-left: var(--argee-pl);
      font-family: var(--argee-ff);
      font-weight: var(--argee-fw);
      font-size: var(--argee-fz);
      line-height: var(--argee-lh);
      color: var(--argee-color);
      transition: color var(--transition-300);

      & a {
        position: relative;
        z-index: 2;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        transition: color var(--transition-300);
        text-decoration: none;

        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
        -webkit-text-decoration-style: solid;
        text-decoration-style: solid;
        -webkit-text-decoration-color: currentColor;
        text-decoration-color: currentColor;
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;

        &:focus {
          outline: none;
          color: var(--accent-pink);
        }

        @include hover {
          color: var(--accent-pink);
        }
      }
    }

    & span.wpcf7-list-item-label::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      margin-right: var(--argee-pl);
      border: 1px solid var(--argee-border-color);
      border-radius: var(--argee-border-radius);
      width: var(--argee-size);
      height: var(--argee-size);
      background-color: transparent;
      box-sizing: border-box;
      transition:
        border-color var(--transition-300),
        background-color var(--transition-300);
      cursor: pointer;
    }

    & span.wpcf7-list-item-label::after {
      content: "";
      position: absolute;
      top: 0.25em;
      left: 1.5px;
      flex: none;
      width: 14px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.50006L4.68078 9.77186C5.12056 10.1628 5.80115 10.0914 6.1502 9.61765L12.5 1.00006' stroke='white' stroke-width='2' stroke-linecap='round' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 14px 12px;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity var(--transition-300),
        visible var(--transition-300);
    }

    & input[type="checkbox"] {
      outline: none;
    }

    // & input[type="checkbox"]:focus-visible + span.wpcf7-list-item-label::before {
    // border-color: var(--argee-hover-color);
    // background-color: var(--argee-hover-color);
    // }

    // & input[type="checkbox"]:focus-visible + span.wpcf7-list-item-label {
    //   color: var(--argee-color);
    // }

    // & input[type="checkbox"]:hover + span.wpcf7-list-item-label::before {
    // border-color: var(--argee-hover-color);
    // background-color: var(--argee-hover-color);
    // }

    // & input[type="checkbox"]:hover + span.wpcf7-list-item-label {
    //   color: var(--argee-color);
    // }

    & input[type="checkbox"]:checked + span.wpcf7-list-item-label::before {
      background-color: var(--argee-hover-color);
    }

    & input[type="checkbox"]:checked + span.wpcf7-list-item-label::after {
      opacity: 1;
      visibility: visible;
    }
  }

  & input[type="checkbox"],
  &__input {
    position: absolute;
    inset: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    display: none;
  }

  & .wpcf7-list-item {
    display: block;
    margin: 0;
  }

  & .wpcf7-not-valid-tip {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    // bottom: -1.33em;
    font-weight: 400;
    font-size: 1em;
    line-height: 110%;
    color: var(--input-error);
    z-index: 2;
  }
}
