.graph-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.85);

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;

    svg {
      stroke: var(--white);
      stroke-width: 1px;
      width: 16px;
      height: 16px;
      transition: opacity 0.3s;
    }

    &:hover svg {
      opacity: 0.7;
    }

    @include mobile {
      top: 8px;
      right: 8px;
      width: 28px;
      height: 28px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__container {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 44px 60px;
    width: 440px;
    max-width: 90vw;
    min-height: 172px;
    background: var(--black);

    @include mobile {
      width: calc(100% - 40px);
      height: auto;
      min-height: 172px;
      padding: 20px 16px;
    }

    &.graph-modal-open {
      display: flex;
    }

    // Стили для окна с формой
    &[data-graph-target="modal-leadform"] {
      max-width: 642px;
      width: 100%;

      @include mobile {
        width: calc(100% - 40px);
      }
    }
  }

  &__content {
    color: var(--white);
    font-size: 18px;
    line-height: 1.4;
    width: 100%;

    .thanks-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .thanks-text {
      font-size: 16px;
      opacity: 0.9;
    }

    @include mobile {
      font-size: 16px;
      .thanks-title {
        font-size: 22px;
      }
      .thanks-text {
        font-size: 14px;
      }
    }
  }
}
