.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--white);

  @include mobile {
    font-size: 28px;
  }
  // &--contacts {
  // }

  &--color {
    margin-bottom: 40px;

    b {
      color: var(--accent-pink);
    }
    span {
      color: var(--accent-blue);
    }
  }
}
