.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  @include mobile {
    padding-bottom: 30px;

  }

  &__view {
    display: flex;
    margin-bottom: 27px;

    @include mobile {
      margin-bottom: 20px;
    }

    & img {
      border-width: var(--card-border-width);
      border-style: var(--card-border-style);
      border-color: var(--card-border-color);
      border-radius: var(--card-br);
      width: 100%;
      object-fit: cover;
      object-position: center;
      aspect-ratio: 400 / 350;
      overflow: clip;

      @include mobile {
        border-radius: 10px;
        aspect-ratio: 305 / 350;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    margin-bottom: 17px;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: currentColor;

    & span {
      color: var(--accent-pink);
    }

    @include tablet-md {
      font-size: 20px;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &__category {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: var(--white-60);

    @include mobile {
      font-size: 12px;
    }
  }

  &__prices {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: currentColor;

    @include tablet-md {
      font-size: 22px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__btn {
    margin-top: auto;
    width: 100%;
  }
}
