.ui-btn {
  --btn-bg: var(--accent-blue);
  --btn-bg-hover: var(--accent-pink);
  --btn-border-radius: 15px;
  --btn-border-widht: 1px;
  --btn-border-style: solid;
  --btn-border-color: var(--btn-bg);
  --btn-border-color-hover: var(--btn-bg-hover);
  --btn-ff: var(--font-family);
  --btn-fw: 400;
  --btn-fz: 15px;
  --btn-lh: 1;
  --btn-color: var(--white);

  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-width: var((--btn-border-widht));
  border-style: var(--btn-border-style);
  border-color: var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  padding: 1.05em 1em 0.95em;
  font-family: var(--btn-ff);
  font-weight: var(--btn-fw);
  font-size: var(--btn-fz);
  line-height: var(--btn-lh);
  // line-height: 11px;
  letter-spacing: 0;
  white-space: nowrap;
  text-align: center;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  cursor: pointer;
  transition:
    border-color var(--transition-300),
    background-color var(--transition-300),
    transform var(--transition-300);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-bg-hover);
  }
  @include hover {
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-bg-hover);
  }
  &:active {
    transform: scale(99%);
  }

  & svg {
    flex: none;
    width: auto;
    height: 1.3cap;
    fill: currentColor;
    user-select: none;
  }

  &--pink {
    --btn-bg: var(--accent-pink);
    --btn-bg-hover: var(--accent-blue);
  }

  &--blue {
    --btn-bg: var(--accent-blue);
    --btn-bg-hover: var(--accent-pink);
  }
  &--ghost {
    --btn-bg: transparent;
    --btn-bg-hover: var(--accent-blue);
    --btn-border-color: var(--btn-color);
  }
}
